*{
        font-family: 'Courier New', Courier, monospace;
}

.header{
        color: blue;
}
h2{
        text-align: center;
}

.submit-btn{
        margin-top: 5px;
}
.danger{
        color: red;
}
.success{
        color:green;
}

div.container{
        margin-top: 60px;
        padding: 0px;
}

div.row div.form-container{
        margin-top: 25px;
}

.navbar-header a.navbar-brand{
        color: white;
}
.navbar-nav li  a#anchor{
        text-decoration: none;
        color: white;
}
/* .navbar-nav li  a#anchor:hover{
        text-decoration: none;
} */
.navbar{
        background-color: #4ba2ea;
}